---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Services from "../components/sections/Services.astro";
import Features from "../components/sections/Features.astro";
import CTA from "../components/sections/CTA.astro";
---

<Layout title="AGcoding | Mobile App Development">
  <main class="flex flex-col overflow-hidden">
    <Hero className="py-10 md:py-16" />
    <Services className="py-10 md:py-16" />
    <Features className="py-10 md:py-16" />
    <CTA className="py-10 md:py-16" />
  </main>
</Layout>
